NODE_ENV = development

PORT = 5001

MONGO_HOST = mongodb://localhost:27017/peaky_sneakers

MONGOOSE_DEBUG = true

JWT_EXPIRY = 5h

JWT_SECRET = 3671aeb1-5ad7-4a37-81f7-6f2f0b05ee83

BCRYPT_ROUND = 10

DRIVE_CLIENT_EMAIL = google_driver_client_email

DRIVE_PRIVATE_KEY_ID = google_driver_client_private_id

DRIVE_PRIVATE_KEY = "google_driver_client_private_key"